

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  font-size:62.5%; /* 1rem = 10px */
}
body{
  font-size: 1.6rem;
  padding: 2rem;
  background-color: #f3f2f2;
}

h2 {
  font-size: 3rem;
  margin: 1rem 0;
}

a {
  text-transform: uppercase;
  margin: 1rem 0;
  display: inline-block;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  font-size: 2rem;
  margin: 0 1rem;
  color: rgb(5, 74, 177);
}
